
.campsite-parent {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 5%;
    background-color: rgb(243, 242, 239);
}

.campsite-container {
    width: 81%;
}

.state-container {
    display: flex;
}

#state {
    padding-right: 10px;
    color: #222222;
    font-size: 13px;
    font-weight: 600;

}

h1 {
    color: #222222;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 20px
}

h2 {
    color: #222222;
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0 20px
}

h3, p {
    color: #454545;
    line-height: 20px;
    font-size: 15px;
}

.location-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.location-container p {
    margin-right: .75%;
}

#review-thumb {
    color: #00C585;
    margin-right: .3%;
}

#review-per {
    color: #00C585;

}

#review-num {
    color: #222222;
    font-size: 13px;
    font-weight: 500;
    text-decoration: underline;
}

#city {
    color: #757575;
    font-size: 13px;
}

.image-container-parent {
    width: 100%;
    height: 18%;
    margin-bottom: 30px;    
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    width: 97%;
    height: 97%;
    gap: 10px;
    justify-content: space-around;
    margin-left: 1%;
}

.image-container :first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

/* object-fit: cover; */

#campsite-img-1 {
    grid-column: 3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#campsite-img-2 {
    grid-column: 4;
    grid-row: 1;
    width: 100%;
    height: 100%;
    border-radius: 0 10px 0 0;
    object-fit: cover;
}

#campsite-img-3 {
    grid-column: 3;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#campsite-img-4 {
    grid-column: 4;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 0;
    object-fit: cover;
}

.under-img-info {
    display: flex;
    justify-content: space-between;
}



#under-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    margin-right: 10%;
    
}

#c-type {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 3%;
}

#site-type {
    display: flex;
    align-items: center;
    margin: 2% 2% 2% 0;
    color: #222222;

}
 
#site-type :first-child {
        margin: 2% 2% 2% 0;
    }

#types {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
}

#type-icon {
    color: #222222;
    font-size: 15px;
}

#capacity {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    height: 100%;
    padding-left: 5%;
    border-left: solid 1px #d5d5d5;
}

#capacity p {
    margin: 0 5%;
}


#description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 12px;
    white-space: pre-line;
    padding: 20px 0 20px;
    /* padding: 25px 0 25px; */
    border-top: solid 1px #d5d5d5;
}

#under-right {
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5%;
}

.position-booking {
    display: flex;
    justify-content: space-between;
}

#under-img-array {
    width: 50%;
}

#section-title {
    font-size: 1rem;
    font-weight: 500;

}

#under-img-array p {
    font-size: 16px;

}

#under-icon {
    height: 30px;
    width: 30px;
    margin-right: 1%;
    color: #222222;
}

.campsite-map, .host, .reviews-container {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #d5d5d5;
    padding: 20px 0 20px;
    width: 55%;
}

.amenities {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #d5d5d5;
    padding: 20px 0 20px;
    width: 55%;
    float: left;
}

.amenities h3 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 2%;
}

.amenities p {
    margin-left: 7%;
    margin-bottom: 2%;
}

.get-there {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #d5d5d5;
    padding: 20px 0 20px;
    width: 55%;
    float: left;
}

.get-there-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.get-there-left {
    width: 40%;
    margin-left: 1%;
}

.get-there-left strong {
    font-weight: 500;
    color: #222222;
    margin-right: 1%;
}


.get-there-right {
    margin-left: 15%;
}

#get-there-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: #222222;
}

.CampsiteMapContainer {
    /* margin: 50px 0 ; */
}

.CampsiteMapContainer p {
    font-weight: 500;
}

.googleMap {
    margin-top: 50px;
    margin-bottom: 30px;
    position:static;
    max-width: 1232px;
    height: 500px;
}

.host-join-container h2 {
    margin-bottom: .5%;
}

.host-join-container p {
    margin: 1% 0 1% 1%;
    /* margin-bottom: 2%;
    margin-left: 1%; */
}

.response-time {
    margin-left: 1%;
}
.response-time strong {
    font-weight: 500;
    color: #222222;
    margin-right: 1%;
}

/* .reviews-container {
    
} */

#rate-percent {
    display: flex;
    align-items: center;
}

#rev-per {
    color: #00C585;
    margin: 0 1% 2% 0;
    font-size: 23px;

}

#rev-num {
    color: #222222;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 2%;
}