/* 




.spotContainer {
    max-width: 1232px;
    margin: 0 auto;
}

.headerName {
    font-weight: 700;
    font-size: 28px;
    padding-top: 20px;
}

.reviewsLocationContainer {
    margin: 15px 0;
    overflow: hidden;
    font-size: 14px;
}

.recommended {
    color: rgb(0, 197, 133);
}

.spotImagesContainer {
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    background-color: #000000;
    margin: -px;
    box-sizing: border-box;
    border-radius: 8px
    ;
}

.spotImagesLeft {
    display: flex;
    align-items: center;
    width: 50%;
    overflow: hidden;
    border-right: 4px solid white;
    height: min(464px,37.7vw);
}       

#spotImagesLeft {
    
    box-sizing: border-box;
    
    overflow: hidden;
    
}

.spotImagesRightContainer {
    width:50%;
    display:flex;
    flex-wrap: wrap;
    height: min(464px, 37.7vw);
    border-left: 4px solid white;
}

.spotImagesRightContainer img {
    width:120%;
    height: auto;
    align-self: center;

}

.spotImagesRightContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 50%;
}

#spotImagesRightLeftTop {
    
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    width:50%;
}

#spotImagesRightRightTop {
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    box-sizing: border-box;
    width: 50%;
}

#spotImagesRightLeftBottom {
    border-right: 4px solid white;
    border-top: 4px solid white;
    box-sizing: border-box;
    width: 50%;
}

#spotImagesRightRightBottom {
    box-sizing: border-box;
    border-left: 4px solid white;
    border-top: 4px solid white;
    width: 50%;
} */

/* .spotSizeTypeContainer {
    display: flex;
    justify-content:left;
    padding: 20px 20px 20px 0;
    align-content: center;

} */

/* .acres {
    padding: 20px 50px 20px 0;
    border-right: 1px solid rgb( 222, 222, 222);
    font-size: 22px; 
   
} */
/* .type {
    text-align: center;
    line-height: 30px;
    padding: 0px 50px 0px 50px;
}

.SpotDescriptionContainer {
    display: flex;
    padding: 20px 100px 20px 0;
    line-height: 28px;

}

.InfoContainer {
    display: flex;
    padding-bottom: 30px;
    
}
.InfoContainer > div {
    width: 700px
}

.SpotTagContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 25px;
    text-align: left;
}

.SpotTagContainer li:first-of-type {
    font-weight: bold;
    font-size: 18px;
}

.SpotTagContainer li {
    padding: 13px;
    font-size: 17px;
}
.SpotTagContainer i {
    padding: 0 5px;
    font-size: 20px;
}

.SpotTagContainer button {
    border-style: none;
    background-color: transparent;
    color: rgb(0, 197, 133);
    font-size: 16px;
    padding-top: 10px;
} */

/* .SpotAvailabilityContainer {
    padding: 40px 0 40px 0
    
} */

/* .SpotAvailabilitySelectorsContainer {
    display: flex;
    font-size: 12px;
    padding-top: 20px;
    line-height: 25px;
    justify-content: space-between;
    align-items: flex-end;

} */

/* .SpotDateSelectorContainer , .SpotGuestsSelectorContainer{
    width: 100%;
    padding-left:10px;
    position: relative;
} */

/* .checkAvailibilityPill {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    background-color: rgb(0, 197, 133);
    color: rgb(255,255,255);
    width: 350px;
    text-align: center;
    height: 45px;
    border-radius: 100px;
    align-items: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
} */

/* #SpotDatesSelectorButton, #SpotGuestsSelectorButton {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(222,222,222);
    height: 45px;
    width:100%;
    justify-content:left;
    font-size: 16px;
    align-items: center;
    color: rgb(60, 60, 60);
} */

/* #SpotDatesSelectorButton i , #SpotGuestsSelectorButton i{
    padding: 10px;
    color: rgb(0,0,0);
} */

/* .SpotDateModalContainer {
    position:absolute;
    top: 80px;
    z-index: 1000;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    border-radius: 12px;
} */
/* .SpotGuestsModalContainer {
    position: absolute;
    top: 80px;
    z-index: 1000;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 4px 0px;
    background-color: rgb(255,255,255);
    border-radius: 12px;
    right: 0;
    left: 0
} */
/* .SpotGuestsModalList > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid rgb(222,222,222)
} */

/* li.children {
    border-bottom:initial;
} */


/* .SpotGuestsModalList{
    display: flex;
    flex-direction: column;
} */
 
/* .titlesContainer {
    display: flex;
    flex-direction: column;
    
    font-size: 14px;
    line-height: 25px;
} */

/* .guestDescription {
    font-size: 16px;;
}
.togglesContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 20px 0;
}

.toggle::selection {
    background-color: transparent;
}

.toggle {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding:0;
    border-radius: 100px;
    border:2px solid rgb(40, 64, 12);
    width: 30px;
    height:30px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.toggle:not(.greyToggle):hover {
background-color: rgb(230, 239, 217)
}

.greyToggle {
    border-color: rgb(151, 151, 151);
    background-color: rgb(222, 222, 222);
    color: rgb(151, 151, 151);
    z-index: 50;
} */

.googleMap {
    margin-top: 50px;
    margin-bottom: 30px;
    position:static;
    max-width: 1232px;
    height: 500px;
}

/* 
.priceContainer {
    padding: 30px 0 0 0;
    color: rgb(60,60,60);
    display: flex;
    align-items: center;
}

.guestsContainer {
    color: rgb(60, 60, 60);
    padding-top: 8px;
}

.priceContainer > div {
    font-weight: 500;
    font-size: 28px;
    color:rgb(0,0,0);
    padding: 0 5px;
}

.SpotLocationContainer {
    margin: 50px 0 ;
}


.SpotLocationContainer p {
    font-weight: 500;
}

.spotReviewItems {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.SpotReviewItemContainer {
    width: 600px
}

.SpotReviewsContainer {
    margin: 30px 0 50px 0
}

.SpotReviewHeader {
    padding:0 0 20px 0;
}

.SpotReviewHeader li:first-of-type {
    padding: 10px 0;
    color:rgb(0, 197, 133);
}

.SpotReviewItemCustomerHeader {
    display: flex;
}

.SpotReviewItemCustomerHeader ul {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-around;
}

.SpotReviewItemCustomerHeader ul li:first-of-type {
    font-weight: bold;
}


.SpotReviewItemContainer p {
    padding: 30px 20px 0 0;
    line-height: 26px;
    ;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.SpotReviewItemContainer {
    padding-bottom: 30px;
} */
