


.booking-container {
    width: 35%;
    /* background-color: rgb(195, 34, 34); */
    box-shadow: 2px 1px 5px 3px #888888;
    border-radius: 30px;
    height: 32rem;
    position: sticky;
    top: 25%;
    left: 60%;
    padding: 1rem;
    display: flex;
    transform: translateY(45px);

} 

.booking-component {
    width: 100%;
    height: 100%;
    border-radius: 30px;    
    
}

.input-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#booking-title-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    margin-bottom: 5%;
}

#booking-title {
    display: flex;
}

#booking-title p {
    font-size: 20px;
    font-weight: 400;
    margin-right: 1%;
}

#book-input-title {
    font-size: 20px;
    font-weight: 400;
}

/* .rdrDefinedRangesWrapper {
    display: none;
}
.rdrInputRanges {
    display: none;
} */

.rdrCalendarWrapper {
    border-radius: 50px;
    /* background-color: #00C585; */
}


.rdrDateRangeWrapper {
    border-radius: 50px;
    background-color: rgb(243, 242, 239);
}

.rdrDateDisplayWrapper {

}


#selected-dates {

}

#book-guests-title {
    font-size: 20px;
    font-weight: 400;
    width: 30%;
}

#guest-number {
    margin-left: 5%;
}


#book-button {
    display: block;
    box-sizing: border-box;
    border: #f9f9f9;
    color: #f9f9f9;
    width: 75%;
    height: 30%;
    font-weight: 500;
    font-size: 16px;
    background-color: #00C585;
    padding: 12px;
    border-radius: 30px;
    transition: all .25s ease-in-out;
    margin: 2% 0 2%;
}


#book-button:hover {
    border: 1px solid #00C585;
    background-color: #f9f9f9;
    color:#00C585;
    cursor: pointer;
}