.user-component {
    padding-top: 5%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.user-show {
    padding-top: 5%;
    width: 82%;
    display: flex;
    flex-direction: row;
    
}

.left-div {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    height: 100vh;
    width: 20%;
}

.user-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    /* align-items: center; */
    padding: 10% 8%;
    height: 45%;
    border: solid 1px #d5d5d5;
    margin-bottom: 10%;
}

#name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #252525;
    margin-top: 0;
}

#since {
    font-size: 1rem;
    line-height: 90%;
    margin-top: 0;
    color: #757575;
}


.email-verification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    /* align-items: center; */
    padding: 10% 8%;
    height: 25%;
    border: solid 1px #d5d5d5;
    margin-bottom: 10%;
}
.email-verification :first-child{
    color: #757575;
}
.email-verification :last-child {
    margin-top: 5%;
}

.base-cash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10% 8%;
    /* text-align: center; */
    height: 25%;
    border: solid 1px #d5d5d5;
    margin-bottom: 5%;
}

#balance {
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 5%;
}

#balance :first-child {
    margin-right: 5px;
}

.build-profile {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    padding: 10% 8%;
    /* text-align: center; */
    align-items: center;
    height: 25%;
    border: solid 1px #d5d5d5;
    margin-bottom: 10%;
}

#plus-icon {
    margin-right: 5%;
    height: 60px;
    width: 60px;

}

.bookings-show-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    
}

#total-bookings {
    font-size: 1.6rem;
    line-height: 100%;
    font-weight: 500;
    color: #252525;
    text-decoration: underline;
    margin-bottom: 5%;
}

.single-booking {
    margin-bottom: 10%;
    display: flex;
    justify-content: flex-start;
    height: 10rem;

}

#camp-name {
    color: #222222;
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.info {
    
}

.booking-img-container {
    height: 100%;
    margin-right: 5%;

}

#img {
    height: 100%;
}

.dates {

}

#dates {

}

.location-info {

}

.location {

}

.city {
    display: flex;
}

.city :first-child {
    margin-right: 3px;
}

.booking-info {

}



#update-link :first-child {
    height: 13%;
    width: 8%;

}

#delete-button {
    border: none;
    background-color: transparent;
}

#delete-button :first-child {
    height: 20px;
    width: 100%;
}